<nav class="navbar position-fixed w-100 top-0 p-3">
  
  <div class="glass container-lg d-flex align-items-center justify-content-between px-4">
    
   
    <a class="brand fw-bold lh-sm text-white me-3" href="#inicio">
      <img src="../../../assets/image/Name.png" alt="" class="img-name">
    </a>

 
    <ul class="nav gap-4 flex-grow-1 justify-content-center">
      <li class="nav-item"><a class="nav-link" href="#presentation">Presentacion</a></li>
      <li class="nav-item"><a class="nav-link" href="#experiencia">Experiencia</a></li>
      <li class="nav-item"><a class="nav-link" href="#proyectos">Proyectos</a></li>
    </ul>

    <!-- <div class="d-flex align-items-center gap-3">
      <button class="btn btn-link text-white p-0 d-flex align-items-center gap-1">
        <i class="bi bi-translate fs-5"></i><span class="d-none d-md-inline">ES</span>
      </button>

      <label class="theme-switch m-0">
        <input type="checkbox" (change)="toggleTheme()" />
        <span class="slider"></span>
      </label>
    </div> -->
  </div>
</nav>
