 <div class="container text-center">
          <div class="row justify-content-evenly d-felx">
            <div class="container d-flex justify-content-center">
              <h1 class="main-title">Proyectos</h1>
            </div>
            
            
            <div class="card text-bg-dark mt-4" style="width: 18rem;">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/charta1.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ImagenesProyectos/charta2.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ImagenesProyectos/charta3.PNG" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">Charta</h5>
                <p class="card-text">Para darte una mano, hemos creado CHARTA donde podras registrar y ver todos tus ingresos y gastos, tambien te daremos estadisticas para que puedas planificar mejor tus siguientes movimientos financieros, y para no hacerla larga...</p>
                <div class="icon-row mt-3">
                    <a href="https://github.com/No-Country/c8-11-m-javaangular" target="_blank"><img src="../../../assets/icons/github-brands.svg"  alt="GitHub" class="icon-bg" ></a>
                    <a href="https://thatischarta.vercel.app/landing" target="_blank" ><img src="../../../assets/icons/cloud-solid.svg"  class="icon-bg" ></a>
                </div>
              </div>
            </div>



            <div class="card text-bg-dark mt-4" style="width: 18rem;">
              <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel2">
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/classemote1.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ImagenesProyectos/classemote2.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ImagenesProyectos/classemote3.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ImagenesProyectos/classemote4.PNG" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">Classemote</h5>
                <p class="card-text">Tu espacio de enseñanza y aprendizaje.
                  Vive la experiencia de trabajar junto a tu equipo en tiempo real <br>
                  Queremos brindar un espacio de trabajo apto para todo público y de acuerdo a las necesidades de cada uno, para que de esa forma puedan desarrollar tanto su aprendizaje como enseñanza, de manera cómoda y donde siempre puedan estar conectados.</p>
                <div class="icon-row mt-3">
                    <a href="https://github.com/No-Country/S6-09-T-Angular" target="_blank"><img src="../../../assets/icons/github-brands.svg" alt="GitHub" class="icon-bg" ></a>
                    <a href="https://s6-09-t-angular.vercel.app/inicio" target="_blank" ><img src="../../../assets/icons/cloud-solid.svg" lass="icon-bg " ></a>
                </div>
              </div>
            </div>

            <div class="card text-bg-dark mt-4" style="width: 18rem;">
              <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel2">
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/mongodb1.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ImagenesProyectos/mongodb2.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/ImagenesProyectos/mongodb3.PNG" class="d-block w-100" alt="...">
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">Mean-Employes</h5>
                <p class="card-text">Esta es una sencilla aplicacion en la cual se realiza una conexion a una BD en este caso es la de MongoDB, es un simple crud pero muy eficiente</p>
                <div class="icon-row mt-3"><a href="https://github.com/alexestrd/MeanEmployee" target="_blank" class="mx-3" ><img src="../../../assets/icons/github-brands.svg" width="20%" alt="GitHub" class="icon-bg mt-3" ></a></div>
              </div>
            </div>
            


            <div class="card text-bg-dark mt-4" style="width: 18rem;">
              <div id="carouselExampleControls4" class="carousel slide" data-bs-ride="carousel2">
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/Cine1.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/Cine2.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/Cine3.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/Cine4.PNG" class="d-block w-100" alt="...">
                  </div>
                  
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">Cine</h5>
                <p class="card-text">Este es un proyecto escolar en el cual se realiza un CRUD mediante Angular y una base de datos MySQL</p>
                <div class="icon-row mt-3"><a href="https://github.com/alexestrd/Cine" target="_blank" class="mx-3" ><img src="../../../assets/icons/github-brands.svg" width="20%" alt="GitHub" class="icon-bg mt-3" ></a></div>
              </div>
            </div>


          <!-- <div class="card mt-4" style="width: 18rem;">
              <div id="carouselExampleControls5" class="carousel slide" data-bs-ride="carousel2">
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/Spotify.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item active">
                    <img src="../../../assets/ImagenesProyectos/trab.jpg" class="d-block w-100" alt="...">
                  </div>
                  
                  
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">Spotify</h5>
                <p class="card-text">Es un clon de Spotify Web en el cual se esta trabajando para poder practicar directivas y nuevas funciones de Angular</p>
                <div class="icon-row mt-3">
                    <a href="https://github.com/alexestrd/spotify" target="_blank" class="mx-3" ><img src="../../../assets/icons/github-brands.svg" width="20%" alt="GitHub" class="icon-bg mt-3" ></a>
                </div>
              </div>
            </div> -->

          </div>
        </div>