.primera{
    padding-top: 15px;
}
h1,h2,h3,p,button{
    font-family: 'Poppins';
}
h2,p{
    color: #E4E3E3;
}
.tit{
    font-family: 'Fuzzy Bubbles';
}
.bx1{
    margin-left: 20px;
}
.b1::before{
    background-color: #676767;
}

.primera,segunda{
    height: 100%;
    width: 100%;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
html{
    scroll-behavior: smooth;
}
