.primera{
    padding-top: 15px;
}
h1,h2,h3,p,button{
    font-family: 'Poppins';
}
h2,p{
    color: #E4E3E3;
}
.tit{
    font-family: 'Fuzzy Bubbles';
}
.bx1{
    margin-left: 20px;
}
.b1::before{
    background-color: #676767;
}

.primera,segunda{
    height: 100%;
    width: 100%;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
html{
    scroll-behavior: smooth;
}
.title{
    font-family: 'Segoe UI', sans-serif;
  font-size: 4rem;            /* ajusta según prefieras */
  color: var(--primary-color);             /* color base del resplandor */
  text-align: center;
  /* varias sombras para crear halo y difuminado */
  text-shadow:
    0 0 4px  var(--primary-color),
    0 0 8px  var(--primary-color),
    0 0 16px var(--primary-color),
    0 0 24px var(--primary-color),
    0 0 32px var(--color-bg-dark);
}