<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="d-flex container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="navbar-brand" >
            <a class="nav-link active tit" aria-current="page">Alex</a>
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="container-fluid">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<section>
  <div class="primera container text-left" >
  <div class="row align-items-start">
    <div class="col">
    <h1 >Alexis Estrada Evangelista  </h1>
    <h2><i class='bx bx-code-block bx-sm'></i> Desarrollador Frondent</h2>
    <br>
    <p>Hola soy alex un joven mexicano que actualmente resido en Toluca Estado de México.
      Me gusta la programacion, los deportes y los videojuegos. <br>
      Actualmente me encuentro estudiando la carrera de Ing.Sistemas Computacionales,
      pero tambien me gusta ser autodidacta y seguir aprandiendo nuevas tecnologias,
      me gusta mucho el desarrollo Frontend, me gusta comprometerme con los proyectos
      en los que me involucro y de la misma manera le pongo toda mi dedicacion ya sean
      proyectos simples o complejos.</p>
      
      
      <a href="https://drive.google.com/file/d/1AJYuSplVMU1frGtOX_FiYNrUh2iWz2N1/view?usp=sharing" 
      class="btn btn-info b1"  target="_blank">
      <i class='bx bxs-report ' ></i> Ver CV</a>
      <br>
      <br>
      <a href="https://www.linkedin.com/in/alexis-estrada-evangelista-a69224211/" target="_blank"><i class='bx bxl-linkedin-square bx-lg bx1'></i></a>
      <a href="https://github.com/alexestrd" target="_blank"><i class="bx bxl-github bx-lg bx1" ></i></a>
      <a href="https://twitter.com/Alex_Estrd" target="_blank"><i class='bx bxl-twitter bx-lg bx1'></i></a>
      <a href=""><i class='bx bxl-gmail bx-lg bx1'></i></a>
    </div>
    <div class="col">
      
      <img src="../assets/image/frontend.png" width="550px">
    </div>
  </div>
</div>
</section>
<section>

</section>

<router-outlet></router-outlet>
