<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="d-flex container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="navbar-brand" >
            <a class="nav-link active tit" aria-current="page">Alex</a>
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="container-fluid">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<section>
  <div class="primera container text-left">
    <h1 >Alexis Estrada Evangelista  </h1>
    <h2><i class="uil uil-window"></i> Desarrollador Frondent</h2>
    <br>
    <p>Hola soy alex un joven mexicano que actualmente resido en Toluca Estado de México.
      <br>Me gusta la programacion, los deportes y los videojuegos. 
      <br>Actualmente me encuentro estudiando la carrera de Ing.Sistemas Computacionales,
      <br>pero tambien me gusta ser autodidacta y seguir aprandiendo nuevas tecnologias,
      <br>me gusta mucho el desarrollo Frontend, me gusta comprometerme con los proyectos
      <br>en los que me involucro y de la misma manera le pongo toda mi dedicacion ya sean
      <br>proyectos simples o complejos.</p>
      <br>
      <button type="button" class="btn btn-info "><i class="uil uil-file-alt"></i> Ver CV</button>
  </div>

  
</section>

<router-outlet></router-outlet>
