<div class="segunda container text-center">
    <div class="row align-items-start">
      <div class="col">

        <h1 class="main-title m-5">Mi Stack</h1>

        <h2 >Lenguajes</h2>
        <div class="icon">
  <span class="icon"><img src="../assets/icons/icons8-logotipo-de-java-coffee-cup-96.png" alt="Java" title="Java" class="icon-bg-java"></span>
  <span class="icon"><img src="../../../assets/icons/icons8-typescript-96.png" alt="Typescript" class="icon-bg-typescript"></span>
  <span class="icon"><img src="../assets/icons/icons8-javascript-96.png" alt="Javascript" class="icon-bg-javascript"></span>
</div>
        <br>
        <h2 class="m-4">Frameworks</h2>
        <div class="icon">
  <span class="icon"><img src="../../../assets/icons/icons8-spring-boot-96.png" alt="Spring Boot" class="icon-bg-spring"></span>
  <span class="icon"><img src="../assets/icons/icons8-angularjs-96.png" alt="Angular" class="icon-bg-angular"></span>
  
  <span class="icon"><img src="../../../assets/icons/Hibernate.png" alt="Sass" class="icon-bg-sass"></span>
  <span class="icon"><img src="../assets/icons/icons8-bootstrap-logo-96.png" alt="Bootstrap" class="icon-bg-bootstrap"></span>
</div>

        <br>
        <h2 class="m-4">Base de Datos</h2>
        <div class="icon">
  <span class="icon"><img src="../../../assets/icons/icons8-sql-server-96.png" alt="SQL Server" class="icon-bg-sqlserver"></span>
  <span class="icon"><img src="../../../assets/icons/icons8-mongodb-96.png" alt="MongoDB" class="icon-bg-mongodb"></span>
  <span class="icon"><img src="../../../assets/icons/icons8-mysql-96.png" alt="MySQL" class="icon-bg-mysql"></span>
  <span class="icon"><img src="../../../assets/icons/icons8-firebase-96.png" alt="Firebase" class="icon-bg-firebase"></span>
  <span class="icon"><img src="../../../assets/icons/icons8-logo-de-oracle-96.png" alt="Oracle DB" class="icon-bg-firebase"></span>
</div>
        <br>
        <h2 class="m-4">Tecnologías y Herramientas</h2>
        <div class="icon">
          <span class="icon"><img src="../assets/icons/icons8-git-96.png" alt="Git"></span>
          <span class="icon"><img src="../assets/icons/icons8-github-96.png" alt="GitHub"></span>
          <span class="icon"><img src="../../../assets/icons/icons8-postman-inc-96.png" alt="Postman"></span>
          <span class="icon"><img src="../../../assets/icons/sonarqube-1336519700268537013_0px.svg" alt="SonarQube"></span>
          <span class="icon"><img src="../assets/icons/icons8-ngp-96.png" alt=""></span>
          <span class="icon"><img src="../../../assets/icons/checkmarxl.svg" alt=""></span>
        </div>
        <br>
      </div>
    </div>
  </div>