<div class="primera container text-center mt-5 mb-"  >
  <div class="row align-items-start">
    <div class="col-md">
    <h1 class="title">Alexis Estrada Evangelista  </h1>
    <h2><i class='bx bx-code-block bx-sm' style="vertical-align: left;"></i>&nbsp; <app-typewriter-component></app-typewriter-component></h2>
    <br>
    <p>Hola, soy Alex Estrada, desarrollador fullstack originario de Toluca, Estado de México.  
Me especializo en el desarrollo frontend con Angular y backend con Java (Spring Boot) y Node.js, 
además de contar con experiencia trabajando con bases de datos como Oracle, MySQL, MongoDB y Firebase.

He participado en el desarrollo e implementación de sistemas empresariales reales, trabajando desde la recolección de requerimientos 
hasta el despliegue en servidores como JBoss, cumpliendo con políticas de seguridad, pruebas unitarias (JUnit, Mockito) y análisis de calidad de código con herramientas como SonarQube y Checkmarx.

Soy una persona comprometida, autodidacta y apasionada por la tecnología. Me involucro a fondo en cada proyecto, ya sea simple o complejo, siempre con el objetivo de entregar soluciones funcionales, eficientes y seguras.

Este portafolio es una muestra de lo que soy capaz de construir. ¡Gracias por visitar!</p>

      
      <a href="https://drive.google.com/file/d/1eR7Uq_SyJjgv8KRVwrF05lv9OzpCzUtF/view?usp=drive_link" 
      class="btn btn-info b1"  target="_blank">
      <img src="../../../assets/icons/file-download-solid.svg" alt="" > Ver CV</a>
      <a href="https://www.linkedin.com/in/alexis-estrada-evangelista-a69224211/" target="_blank">
  <img src="../../../assets/icons/linkedin-square.svg" alt="LinkedIn" width="40" height="40">
</a>
      <a href="https://github.com/alexestrd" target="_blank">
  <img src="../../../assets/icons/github.svg" alt="GitHub" width="40" height="40">
</a>
      <a href="https://twitter.com/Alex_Estrd" target="_blank">
  <img src="../../../assets/icons/twitter-x.svg" alt="Twitter" width="40" height="40">
</a>
      <a href="">
  <img src="../../../assets/icons/gmail.svg" alt="Gmail" width="40" height="40">
</a>
    </div>
    <div class="col-md">
        <img src="../../../assets/icons/Retrato en tonos cálidos.png" width="500px" alt="" class="profile-img">
    </div>
    
  </div>
</div>