/* You can add global styles to this file, and also import other style files */
body{
    background-image:linear-gradient(rgba(5,7,12,0.85), rgba(5,7,12,0.85)), url(./assets/image/planeta-poligonal-low-poly_2560x1440_xtrafondos.com.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
h1,h2,h3,li,a,lu{
    color: #EDEDED;
    
}